In [70]:
import csv as csv
import numpy as np
import pandas as pd
import sys
from sklearn import ensemble
import sklearn.preprocessing 
import sklearn.model_selection
import sklearn

In [141]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [14]:
print train.shape
print '-' * 30 
print test.shape

(61878, 95)
------------------------------
(144368, 94)

In [32]:
# Label & training data 
train_data = train[train.columns[1:-1]]
train_labels = train['target']
print train_data.shape 
print train_labels.count(), train_labels.nunique()
print '-' * 30 
test_data = test[test.columns[1:]]
print test_data.shape
print '-' * 30 
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(
    train_data,
    train_labels,
    test_size=0.5)
print X_train.shape, X_test.shape, y_train.shape, y_test.shape

(61878, 93)
61878 9
------------------------------
(144368, 93)
------------------------------
(30939, 93) (30939, 93) (30939,) (30939,)

In [111]:
# Label distribution
label_dist = pd.DataFrame(train_labels.value_counts())
label_dist.sort_index(ascending=1, axis=1) 
label_dist['pct'] = 100.0 * label_dist['target'] / sum(label_dist['target'])
print type(label_dist)
print label_dist.columns
def get_label_dist(labels): 
    label_dist = pd.DataFrame(pd.Series(y_predict).value_counts(), columns=['target'])
    label_dist.sort_index(ascending=1, axis=1) 
    label_dist['pct'] = 100.0 * label_dist['target'] / sum(label_dist['target'])
    return label_dist
get_label_dist(label_dist)

<class 'pandas.core.frame.DataFrame'>
Index([u'target', u'pct'], dtype='object')

         target        pct
Class_2   12439  40.204919
Class_6    7183  23.216652
Class_8    4397  14.211836
Class_9    2814   9.095317
Class_5    1317   4.256763
Class_3    1235   3.991726
Class_7    1137   3.674973
Class_1     247   0.798345
Class_4     170   0.549468

In [56]:
train_data.head(10)

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
0,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,1,6,1,5,0,0,1,...,22,0,1,2,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
5,2,1,0,0,7,0,0,0,0,0,...,1,0,3,0,0,0,0,2,0,0
6,2,0,0,0,0,0,0,2,0,1,...,0,1,1,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
8,0,0,0,0,0,0,0,4,0,0,...,0,0,2,0,0,0,0,0,0,1
9,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0

In [132]:
from sklearn.multiclass import OneVsOneClassifier
from sklearn.multiclass import OneVsRestClassifier
from sklearn.svm import LinearSVC

clf = OneVsRestClassifier(LinearSVC())
clf.fit(X_train, y_train)
y_predict = clf.predict(X_test) 
z = y_test == y_predict
print 100.0 * sum(z) / len(z)

0.130935065775
74.7794046349

In [133]:
clf = OneVsRestClassifier(LinearSVC())
clf.fit(X_train, y_train)
y_predict = clf.predict(X_test) 
z = y_test == y_predict
print 100.0 * sum(z) / len(z)

75.2060506157

In [161]:
test_prediction = clf.predict(test_data)

In [167]:
print test_prediction 
result = pd.DataFrame(test['id'], columns=['id'])
for i in range(1, 10):
    c = 'Class_' + str(i)
    print c
    result[c] = pd.Series(test_prediction == c).astype(int)

['Class_3' 'Class_6' 'Class_6' ..., 'Class_3' 'Class_2' 'Class_2']
Class_1
Class_2
Class_3
Class_4
Class_5
Class_6
Class_7
Class_8
Class_9

In [168]:
print type(result)
test_prediction

<class 'pandas.core.frame.DataFrame'>

array(['Class_3', 'Class_6', 'Class_6', ..., 'Class_3', 'Class_2',
       'Class_2'],
      dtype='|S7')

In [170]:
result.to_csv('test_output.csv')